@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');
@import 'https://fonts.googleapis.com/css?family=Roboto';
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    line-height: 1.7;
}
html{
    font-size: 62.5%;
    /* 16px=100% */
    /* 10px=100/16 *10 */
}
ul li{
    list-style: none;
}
a{
    font-size: 1.6rem;
    text-decoration: none;
}
p,li{
    font-size: 1.5rem;
    letter-spacing: 0.15em;
}
h1,h2,h3,h4{
    margin-bottom: 0.5em;
    font-weight: 500;
}
#typing-demo {
    width: 20ch;
    animation: typing 2s steps(22), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;
    animation-duration: infinite;
  }
  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
/* ############## utility classes ################# */
.container{
    max-width: 1200px;
    width: 90%;
    margin: 0 auto;
}
.lg-heading{
    font-size: 3.5rem;
}
.mg-heading{
    font-size: 2.2rem;
}
.text-red{
    color: #e63946;
}
.text-light{
    color: #f4f4f4;
}
.text-black{
    color: #333;
}
.text-grey{
    color: #555555;
}
.text-blue{
    color: #0b114b;
}
.btn{
    display: inline-block;
    padding: 0.5em 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 12px;
    margin: 0.5em 0;
}
.btn-primary{
    background-color: rgb(208, 114, 55);
    border-radius: 100px;
    border: 4px;
    margin-top: 5%;
    font-size: large;
    transition: transform .8s;
}
.btn-primary:hover{
    background-color: rgb(239, 190, 115);
    transition: 1s; 
    transform: scale(1.25);
}
.btn-secondary{
    border: 2px solid #e63946;
    border-radius: 1.5em;
    color: #e63946;
    background-color: rgb(208, 114, 55);
    transition: transform .8s;
}
.btn-secondary:hover{
    background-color: rgb(239, 190, 115);
    transform: scale(1.25);
}
.btn-login{
    border: 4px;
    border-radius: 50px;
    background-color: rgb(208, 114, 55);
}
.btn-login:hover{
    background-color: rgb(239, 190, 115);
}
/* #################header styling################### */
.header .gif1 img{
    float: right;
    display: flex;
    width: 30%;
    height: 25%;
    margin-top: 2%;
    margin-right: 15%;
    position:relative;
}

.header{
    position: relative;
    height: 95vh;
    background-color:#0b114b;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.navbar{
    padding: 1rem;
}
.header .navbar a img{
    width: 150px;
    padding-left: 15%;
}
.header .navbar .logo{
    float: left;
}
.header .navbar ul.active{
    left: 0%;
}
.header .navbar .nav-items{
    flex: 1;
    text-align: right;
}
.header .navbar .nav-item{
    display: inline-block;
    padding: 1rem;
	z-index: -1;
	transition: .3s ease letter-spacing;
}
.navbar a:link,
.navbar a:visited{
    color: white;
}
.navbar .container a:hover{
    border-bottom: 0.025em solid white;
}

/* #################header content################  */
.header-content{
    position:absolute;
    text-align: left;
    top:50%;
    left: 15%;
    transform: translate(-50%,-50%);
    background-color: #0b114b;
    padding-left: 15%;
}
.header-content h1{
    text-transform: uppercase;
    font-weight: 700;
}
.header-content p{
 text-transform: uppercase;
 position:relative;
}

/* ###############showcase section styling##################  */
.showcase{
    background-color: white;
    padding: 10rem 2rem;
    margin: 5%;
}
.row{
    height: 350px;
    background-color: #fff;
    box-shadow: 0px 0px 20px 0px rgb(54, 51, 51);
}
.row1{
    margin-bottom: 10rem;
}
.row1 .img-box, .row2 .text-box{
    float: left;
    width: 50%;
}
.row2 .img-box, .row1 .text-box{
    float: right;
    width: 50%;
}
.row .img-box{
   height: 100%;
}
.row .text-box{
    padding: 3rem;
}
.row .img-box img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit:initial;
}
.row .text-box h2,p{
    display: inline-block;
    width: 100%;
}

.row h2{
    text-transform: uppercase;
}
.row::after{
    content: '';
    display: block;
    clear: both;
} 
/* ####################### Quote Section ##################################### */
.line1{
    margin-top: 2.5%;
    margin-left: 3%;
}
.line2{
    margin-top: 18%;
    margin-left: 3%;
}
.divQuote{
    position: absolute;
    white-space: normal;
    width: 70%;
    height: 50%;
    padding: 5rem;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    animation: mymove 3s infinite;
}
.divQuote .quote{
    text-align: center;
    font-size: 25px;
    font-family: 'Niconne', cursive;
    font-family: 'Poppins', sans-serif;
}
@keyframes mymove {
    from {left: 0px;}
    to {left: 100px;}
  }
.para{
    position: absolute;
    white-space: normal;
    padding: 5rem;
    margin-left: 40%;
    display: flex;
    animation: mymove 3s infinite;
}
.para p{
    font-weight: 500;
    font-size: medium;
}
.writer{
    position: absolute;
    white-space: normal;
    width: 20%;
    margin-left: 55%;
    margin-top: 15%;
    animation: mymove 3s infinite;
}
/* ####################################lower case#####################  */
.lower-case{
  background-color: #fff;
  padding: 10rem;
}
.box{
    background-color: #fff;
    color: whitesmoke;
    box-shadow: rgba(54, 53, 53, 0.61);
}
.container1{
    margin-top: 25%;
    width: 33.33333333%;
    float: left;
    padding: 2rem;
    text-align: center;
    background-color:#0b114b;
    transition: transform 1s;
}
.container1:hover{
    transform: scale(1.25);
}
.container2:hover{
    transform: scale(1.25);
}
.container3:hover{
    transform: scale(1.25);
}
.container2{
    margin-top: 25%;
    width: 33.33333333%;
    float: left;
    padding: 2rem;
    text-align: center;
    background-color: rgb(208, 114, 55);
    transition: transform 1s;
}
.container3{  
    margin-top: 25%;
    width: 33.33333333%;
    float: left;
    padding: 2rem;
    text-align: center;
    background-color:#0b114b;
    transition: transform 1s;
}
.box::after{
    content: '';
    display: block;
    clear: both;
}
/*#################### animation ##############################3*/
@keyframes text_revealing {
	100% {
		color: white;
	}
}
@keyframes revealing {
	50% {
		width: 100%;
		left: 0;
	}
	100% {
		left: 100%;
		width: 0%;
	}
}
@media(max-width: 700px){
    .container{
        max-width: 600px;
        width: 40%;
        margin: 0 auto;
    }

}
/* ################################### footer #################################################### */
footer{
    background: #0b114b;
    background-size: cover;
    height: auto;
    width: 83vw;
    font-family: "Open Sans";
    padding-top: 40px;
    color: #fff;
    margin-top: 5%;
    margin-bottom: 0%;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    margin-bottom: 0%;
    background-size: cover;
}
.footer-content h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer-content p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
    font-size: large;
}
.socials li a:hover{
    color: rgb(208, 114, 55);
}
.footer-bottom{
    background: #0b114b;
    width: 80vw;
    padding: 20px 0;
    text-align: center;
}
.footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
}
.footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
    color: rgb(208, 114, 55);;
}
/*chat bot*/
.chat_icon{
    position: fixed;
    right: 30px;
    bottom: 0;
    font-size: 80px;
    color: #fff;
    cursor: pointer;
    z-index: 1000;
}