body{
    /* background-image: url(bg1.jpg) ;
    background-size: cover;
    background-repeat: no-repeat; */
    
    
background-image: linear-gradient(135deg, #d7d2cc 10%, #304352 100%);
    
  
   
}
h1{
    font-family: "Lucida Console", "Courier New", monospace;
}
.bt{
    background-image: linear-gradient(135deg, #209cff 10%, #68e0cf 100%);
}
.bt1{
    background-image: linear-gradient(135deg, #d7d2cc 10%, #304352 100%);

}
.nav{
    background-image: linear-gradient(135deg, #243949 10%, #517fa4 100%);
}