.bl{
    background: rgb(253, 253, 253);
}
.my-img{
 
    border-radius: 50% black solid;
    width: 200px;
    margin-top: 30px;
    
}
.first-col{
    
    background: rgb(252, 255, 251);
}

.bg{
    background-image: linear-gradient(135deg, white 10%, white  100%);}
.bt1{
    background-image: linear-gradient(135deg, rgb(34, 53, 195)  10%, rgb(35, 40, 120)  100%);

}